<!--
    여러 페이지에서 공통적으로 쓰이는 모듈을 모아 놓은 곳입니다.
    복사해서 사용하시고 module.css도 연결해주셔야 작동합니다.
-->


<!--상단 메뉴바-->
    <nav>
        <a href = "../pages/main.html"/><img src = "../../Images/logo.png" id = "logo" style = "float : left"/></a>
        <ul style = "list-style-type:none; margin:0px">
            <li><a href="../pages/main.html"> Home </a></li>
            <li><a href="../pages/shop_list.html"> Shop </a></li>
            <li><a href="../pages/review_upload.html"> Review </a></li>
            <li><a href="../pages/my_store.html"> MyStore </a></li>
        </ul>

        <ul style = "list-style-type:none; margin:0px">
            <li><a class = "rightmenu" href = "../pages/login.html"> Log In </a></li>
            <span style  = "float:right; height : 40px; margin-top : 30px; border-right : solid 2px grey"></span>
            <li><a class = "rightmenu" href = "../pages/signup.html"> Sign Up </a></li>
        </ul>
        <a href = "../pages/my_store.html"/><img src = "../../Images/default_profile.png" id = "profile" style = "float : right"/></a>
    </nav>


<!-- 노란 가로선 -->
    <hr id = "yellowLine"/>

<!-- 회색 가로선 -->
    <hr id = "greyLine"/>