<!--
    여러 페이지에서 공통적으로 쓰이는 모듈을 모아 놓은 곳입니다.
    복사해서 사용하시고 module.css도 연결해주셔야 작동합니다.
-->


<!--상단 메뉴바-->
    <nav>
        <a href = "../pages/main.html"/><img src = "../../Images/logo.png" id = "logo" style = "float : left"/></a>
        <ul style = "list-style-type:none; margin:0px">
            <li><a href="../pages/main.html"> Home </a></li>
            <li><a href="../pages/shop_list.html"> Shop </a></li>
            <li><a href="../pages/review_upload.html"> Review </a></li>
            <li><a href="../pages/my_store.html"> MyStore </a></li>
        </ul>

        <ul style = "list-style-type:none; margin:0px">
            <li><a class = "rightmenu" href = "../pages/login.html"> Log In </a></li>
            <span style  = "float:right; height : 40px; margin-top : 30px; border-right : solid 2px grey"></span>
            <li><a class = "rightmenu" href = "../pages/signup.html"> Sign Up </a></li>
        </ul>
        <a href = "../pages/my_store.html"/><img src = "../../Images/default_profile.png" id = "profile" style = "float : right"/></a>
    </nav>


<!-- 노란 가로선 -->
    <hr id = "yellowLine"/>

<!-- 회색 가로선 -->
    <hr id = "greyLine"/>

<!-- 검정 가로선 -->
    <hr id = "blackLine"/>


<!-- 연초록 인풋필드 -->
    <tag id = "greenField"></tag>

<!-- 가게 정보 요약 바 -->
    <div class = "shop_info_container">
        <div class="shop_info_item" style="line-height : 2.0;">
            <b style="color:dimgrey; vertical-align : middle">영업중 </b>&nbsp;
            <span class = "type" style="vertical-align : middle">한식</span><br>
            <span>  
                <img src = "../../Images/sample_stars_green.png" style="height : 25px; vertical-align : middle;"/>        <!--별점 샘플이미지-->
            </span>
            <span stlye="vertical-align : center">5.0</span><br>
        </div>
        <div></div>
        <div class="shop_info_item">
            <b style="font-size:50px">식당 이름</b>&nbsp;&nbsp;
            <img src = "../../Images/thumbup.png" style="vertical-align:top"/>
            <span style="position:relative; top:5px; left:-40px;"> 찜 56</span>
            
        </div>
        <div class="shop_info_item">
            http://www.홈페이지, 인스타그램 등<br>
            서울특별시 서대문구 이화여대길 00 | 02-000-0000 | 주차 가능
        </div>
    </div>