<!DOCTYPE html>
<html>
    <head>
       <link rel = "stylesheet" type = "text/css" href = "../modules/module.css">
    </head>
    <body>
        <nav>
            <a href = "../pages/main.html"/><img src = "../../Images/logo.png" id = "logo" style = "float : left"/></a>
            <ul style = "list-style-type:none; margin:0px">
                <li><a href="../pages/main.html"> Home </a></li>
                <li><a href="../pages/shop_list.html"> Shop </a></li>
                <li><a href="../pages/review_upload.html"> Review </a></li>
                <li><a href="../pages/my_store.html"> MyStore </a></li>
            </ul>
        
            <ul style = "list-style-type:none; margin:0px">
                <li><a class = "rightmenu" href = "../pages/login.html"> Log In </a></li>
                <span style  = "float:right; height : 40px; margin-top : 30px; border-right : solid 2px grey"></span>
                <li><a class = "rightmenu" href = "../pages/signup.html"> Sign Up </a></li>
            </ul>
            <a href = "../pages/my_store.html"/><img src = "../../Images/default_profile.png" id = "profile" style = "float : right"/></a>
        </nav>
       
    </body>
</html>