div.yellowBox{
    text-align: left;
    height : 60px;
    padding : 10px 250px;
    margin: auto;
    align-items : end;
    overflow : hidden;
    background-color : gold;
    box-shadow : inset 0px 2px 6px 1px grey;
}

@media(min-width:1400px){
    div.yellowBox{
        width:72vw;
    }
}

div.yellowIcon{
    display : inline-block;
    padding : 0px 20px;
    text-align : center;
    font-weight : bold;
    vertical-align: middle;
    border-radius : 20px;
    background-color : gold;
}

div.comment{
    display : inline-block;
    overflow: hidden;
    width : 250px;
    height : 25px;
    padding : 5px 20px;
    margin : 5px 5px;
    text-align : center;
    font-weight : bold;
    vertical-align: middle;
    border-radius : 20px;
    background-color : white;
    border : 1px solid grey;
}

div.menuInfo{
    display : inline-block;
    overflow: hidden;
    width: 220px;
    padding : 3px 15px;
    margin : 2px 5px;
    text-align : left;
    font-size : 12px;
    vertical-align: middle;
    border-radius : 20px;
    background-color : white;
    border : 1px solid grey;
}