.shop_info_container{
  color : white;
    display : grid;
    width : 1020px;
    height : 80px;
    margin-top : 100px;
    padding : 10px 250px;
    align-items : end;
    overflow : hidden;
    grid-template-columns : 400px 400px;
    background-color : #00462A;
    box-shadow : inset 0px 2px 6px 1px grey;
}

.page-nation li{
    list-style : none;
}

.page-wrap{
    text-align : center;
    font-size : 0;
}

.page_nation{
    display:flex;
    justify-content : center;
    align-items : center;
    margin-top: 20px;
}

.page_nation a {
    display : block;
    margin : 0 3 px;
    float : left;
    border : 1px solid #e6e6e6;
    width:28px;
    height:28px;
    text-align:center;
    background-color : #fff;
    font-size:13px;
    color:black;
    text-decoration:none;
    font-weight:bold;
}
