{% extends "index.html" %}

{% block section %}
        <link rel="stylesheet" href="{{ url_for('static',filename='bookmarked.css') }}" />
        <hr id="greyLine" />

        <div class="yellowBox"></div>
        <div style="text-align: center; background-color: lightyellow;">
            <div
                style="display: inline-block; width: 1040px; margin: auto; background-color: white;"
            >
                <b style="font-size: 30px; color: darkgreen;"><br />찜한 맛집<br /></b>&nbsp;
                <div>
                    <div class="image"></div>
                    <br />
                    <div class="best" style="float: left;">
                        <b style="font-size: 20px; float: left;">식당 이름</b>
                        &nbsp; &nbsp;
                        <div class="yellowIcon">한식</div>
                        &nbsp;&nbsp;
                        <img src="{{ url_for('static',filename='Images/thumbup.png') }}" />
                        찜 56
                        <!--<b style="font-size:20px">10000원</b><br>-->
                        <br />

                        <div class="star" style="height: 12px; margin: 5px 0px; float: left;">
                            <img
                                src="{{ url_for('static',filename='Images/sample_stars_yellow.png') }}"
                            />
                        </div>
                        <br />

                        <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div>
                        <br />
                        <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div>
                        <br />
                        <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div>
                        <br />
                    </div>

                    <hr id="blackLine" />
                    <div class="image"></div>
                    <br />
                    <div class="best" style="float: left;">
                        <b style="font-size: 20px; float: left;">식당 이름</b>
                        &nbsp; &nbsp;
                        <div class="yellowIcon">한식</div>
                        &nbsp;&nbsp;
                        <img src="{{ url_for('static',filename='Images/thumbup.png') }}" />
                        찜 56
                        <br />

                        <div class="star" style="height: 12px; margin: 5px 0px; float: left;">
                            <img
                                src="{{ url_for('static',filename='Images/sample_stars_yellow.png') }}"
                            />
                        </div>
                        <br />

                        <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div>
                        <br />
                        <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div>
                        <br />
                        <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div>
                        <br />
                    </div>
                    <hr id="blackLine" />
                    <div class="image"></div>
                    <br />
                    <div class="best" style="float: left;">
                        <b style="font-size: 20px; float: left;">식당 이름</b>
                        &nbsp; &nbsp;
                        <div class="yellowIcon">한식</div>
                        &nbsp;&nbsp;
                        <img src="{{ url_for('static', filename='Images/thumbup.png') }}" />
                        찜 56
                        <br />

                        <div class="star" style="height: 12px; margin: 5px 0px; float: left;">
                            <img
                                src="{{ url_for('static', filename='Images/sample_stars_yellow.png') }}"
                            />
                        </div>
                        <br />

                        <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div>
                        <br />
                        <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div>
                        <br />
                        <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div>
                        <br />
                    </div>
                </div>
            </div>
        </div>

{% endblock section %}