<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='bookmarked.css') }}" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static',filename='module.css') }}"
        />
        <link rel="preconnect" type="text/css" href="https://fonts.gstatic.com" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
        />
    </head>
    <body>
        <nav>
            <a href="/home"
                ><img
                    src="{{ url_for('static',filename='Images/logo.png') }}"
                    id="logo"
                    style="float: left;"
            /></a>
            <ul style="list-style-type: none; margin: 0px;">
                <li><a href="/home"> Home </a></li>
                <li><a href="/list"> Shop </a></li>
                <li><a href="/review"> Review </a></li>
                <li><a href="/mystore"> MyStore </a></li>
            </ul>

            <ul style="list-style-type: none; margin: 0px;">
                <li><a class="rightmenu" href="/login"> Log In </a></li>
                <span
                    style="
                        float: right;
                        height: 40px;
                        margin-top: 30px;
                        border-right: solid 2px grey;
                    "
                ></span>
                <li><a class="rightmenu" href="/signup"> Sign Up </a></li>
            </ul>
            <a href="/mystore"
                ><img
                    src="{{ url_for('static',filename='Images/default_profile.png') }}"
                    id="profile"
                    style="float: right;"
            /></a>
        </nav>

        <hr id="greyLine" />

        <div class="yellowBox"></div>
        <div style="text-align: center; background-color: lightyellow;">
            <div
                style="display: inline-block; width: 1040px; margin: auto; background-color: white;"
            >
                <b style="font-size: 30px; color: darkgreen;"><br />찜한 맛집<br /></b>&nbsp;
                <div>
                    <div class="image"></div>
                    <br />
                    <div class="best" style="float: left;">
                        <b style="font-size: 20px; float: left;">식당 이름</b>
                        &nbsp; &nbsp;
                        <div class="yellowIcon">한식</div>
                        &nbsp;&nbsp;
                        <img src="{{ url_for('static',filename='Images/thumbup.png') }}" />
                        찜 56
                        <!--<b style="font-size:20px">10000원</b><br>-->
                        <br />

                        <div class="star" style="height: 12px; margin: 5px 0px; float: left;">
                            <img
                                src="{{ url_for('static',filename='Images/sample_stars_yellow.png') }}"
                            />
                        </div>
                        <br />

                        <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div>
                        <br />
                        <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div>
                        <br />
                        <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div>
                        <br />
                    </div>

                    <hr id="blackLine" />
                    <div class="image"></div>
                    <br />
                    <div class="best" style="float: left;">
                        <b style="font-size: 20px; float: left;">식당 이름</b>
                        &nbsp; &nbsp;
                        <div class="yellowIcon">한식</div>
                        &nbsp;&nbsp;
                        <img src="{{ url_for('static',filename='Images/thumbup.png') }}" />
                        찜 56
                        <br />

                        <div class="star" style="height: 12px; margin: 5px 0px; float: left;">
                            <img
                                src="{{ url_for('static',filename='Images/sample_stars_yellow.png') }}"
                            />
                        </div>
                        <br />

                        <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div>
                        <br />
                        <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div>
                        <br />
                        <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div>
                        <br />
                    </div>
                    <hr id="blackLine" />
                    <div class="image"></div>
                    <br />
                    <div class="best" style="float: left;">
                        <b style="font-size: 20px; float: left;">식당 이름</b>
                        &nbsp; &nbsp;
                        <div class="yellowIcon">한식</div>
                        &nbsp;&nbsp;
                        <img src="{{ url_for('static', filename='Images/thumbup.png') }}" />
                        찜 56
                        <br />

                        <div class="star" style="height: 12px; margin: 5px 0px; float: left;">
                            <img
                                src="{{ url_for('static', filename='Images/sample_stars_yellow.png') }}"
                            />
                        </div>
                        <br />

                        <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div>
                        <br />
                        <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div>
                        <br />
                        <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <!--<br>
    &nbsp;&nbsp;&nbsp;&nbsp;
    BEST 맛집! more<br><br>
    <hr id = "blackLine">

    <div class = "best">
      <div class = "image"></div>
      <br>
      <b style = "font-size: 30px">가게 이름</b>
      <div class = "type" style = "vertical-align : middle">한식</div><br>
      <span>
        <img src = "../../Images/thumbup.png" style = "height : 25px; vertical-align : middle;">
      </span>
      <span style = "vertical-align : middle">찜 56</span>
    </div> -->
    </body>
</html>