{% extends "index.html" %}
 
{% block section %}
        
      <link rel="stylesheet" href= "{{ url_for('static',filename='lookaround.css') }}">

      <hr id = "greyLine" />
      <div class = "yellowBox">
          <b style="font-size:35px;">둘러보기 <span style = "font-size : 18px">캠퍼스 주변의 맛집을 확인하세요!</span></b>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.8583441378387!2d126.93916513488766!3d37.55840110000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c989a810bbe3f%3A0x387216fecb49ae51!2z66qo66-47KeA7Iud64u5!5e0!3m2!1sko!2skr!4v1667878423835!5m2!1sko!2skr" width="100%" height="750px;" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

{% endblock section %}