{% extends "index.html" %}

{% block section %}
        <link rel="stylesheet" href= "{{ url_for('static',filename='main.css') }}">
        <hr id="greyLine" />
        <div class="yellowBox">
            <div class="shop_info_item">
                <b style="font-size: 80px;">이화 맛집이야!</b>&nbsp;&nbsp;
                <b style="font-size: 24px;">이화여자대학교 벗들의 맛집 추천 커뮤니티</b>
            </div>
            <div class="shop_info_item">
                <a href="/shop_upload">맛집 등록하러 가기</a>
                <br />
                <a href="/review_upload">리뷰 작성하러 가기</a>
                <br />
                <a href="/shop_list">맛집 리스트</a>
            </div>

            <div class="randomBox">
                <b>뭐 먹을까?</b><br />
                <div class="randomButton">
                    RANDOM!
                </div>
                <div class="greyBox">?</div>
            </div>
        </div>
        <div style="clear: both;">
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp; BEST 맛집! more<br /><br />
            <hr id="blackLine" />

            <div class="best">
                <div class="image"></div>
                <br />
                <b style="font-size: 30px;">가게 이름</b>
                <div class="type" style="vertical-align: middle;">한식</div>
                <br />
                <span>
                    <img
                        src="{{ url_for('static',filename='Images/thumbup.png')}}"
                        style="height: 25px; vertical-align: middle;"
                    />
                </span>
                <span style="vertical-align: middle;">찜 56</span>
            </div>

            <div class="best">
                <div class="image"></div>
                <br />
                <b style="font-size: 30px;">가게 이름</b>
                <div class="type" style="vertical-align: middle;">한식</div>
                <br />
                <span>
                    <img
                        src="{{ url_for('static',filename='Images/thumbup.png')}}"
                        style="height: 25px; vertical-align: middle;"
                    />
                </span>
                <span style="vertical-align: middle;">찜 56</span>
            </div>
            <div class="best">
                <div class="image"></div>
                <br />
                <b style="font-size: 30px;">가게 이름</b>
                <div class="type" style="vertical-align: middle;">한식</div>
                <br />
                <span>
                    <img
                        src="{{ url_for('static',filename='Images/thumbup.png')}}"
                        style="height: 25px; vertical-align: middle;"
                    />
                </span>
                <span style="vertical-align: middle;"> 찜 56</span>
            </div>
        </div>
{% endblock section %}