{% extends "index.html" %}

{% block section %}
        <link rel="stylesheet" href= "{{ url_for('static',filename='main.css') }}">
        <hr id="greyLine" />
        <div class="yellowBox" style="grid-template-columns: 1fr 1fr; grid-template-rows:1fr; align-items: center; height : 350px;">
            <div class="shop_info_item" >
                <b style="font-size: 80px;" >이화 맛집이야!</b>&nbsp;&nbsp;
                <b style="font-size: 24px;">이화여자대학교 벗들의 맛집 추천 커뮤니티</b>
                
                
                 <div class="randomBox" >
                <b text-align="center"> 오늘은 무슨 메뉴를 먹을까?</b><br />
                <div class="randomButton">
                    RANDOM!
                </div>
                <div class="greyBox">눌러서 <br>메뉴 추천 받으세요!</div>
            </div>
                
        </div>

            
                <div class="one" >
                    
            
                <section class="section_shop_info"  >
                <ul class="sidelist" style="background-color:gold; list-style-type: none; margin:0; " >
                    <li><a class="option" href="/shop_upload" style= "text-decoration: none; color:black; font-weight: 900;" hover="text-size:120%;">
                        <img
                        src="{{ url_for('static',filename='Images/layingFork.png')}}"
                        style="height: 65px; vertical-align:bottom;  "
                    />
                    <span style="font-size:35px" "color:black;" >&nbsp;&nbsp;맛집 등록하러 가기</span></a></li><br>
                    
                     <li><a class="option" href="/shop_list" style= "text-decoration: none; color:black; text-align:center; font-weight: 900;">
                        <img
                        src="{{ url_for('static',filename='Images/layingFork.png')}}"
                        style="height: 65px; vertical-align:bottom;  "
                    />
                    <span  style="font-size:35px" >&nbsp;&nbsp;맛집 리스트</span></a></li><br>
             
    
                     <li ><a class="option" href="/review_upload" style= "text-decoration: none; color:black; text-align:center; font-weight: 900;">
                        <img
                        src="{{ url_for('static',filename='Images/layingFork.png')}}"
                        style="height: 65px; vertical-align:bottom; "
                    />
                    <span style="font-size:35px" >&nbsp;&nbsp;리뷰 작성하러가기</span></a></li><br>
                    
     
                </ul>
                 </section>
              
</div>
                
</div>

        <div style="clear: both;">
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp; BEST 맛집! more<br /><br />
            <hr id="blackLine" />

            <div class="best">
                <div class="image"></div>
                <br />
                <b style="font-size: 30px;">가게 이름</b>
                <div class="type" style="vertical-align: middle;">한식</div>
                <br />
                <span>
                    <img
                        src="{{ url_for('static',filename='Images/thumbup.png')}}"
                        style="height: 25px; vertical-align: middle;"
                    />
                </span>
                <span style="vertical-align: middle;">찜 56</span>
            </div>

            <div class="best">
                <div class="image"></div>
                <br />
                <b style="font-size: 30px;">가게 이름</b>
                <div class="type" style="vertical-align: middle;">한식</div>
                <br />
                <span>
                    <img
                        src="{{ url_for('static',filename='Images/thumbup.png')}}"
                        style="height: 25px; vertical-align: middle;"
                    />
                </span>
                <span style="vertical-align: middle;">찜 56</span>
            </div>
            <div class="best">
                <div class="image"></div>
                <br />
                <b style="font-size: 30px;">가게 이름</b>
                <div class="type" style="vertical-align: middle;">한식</div>
                <br />
                <span>
                    <img
                        src="{{ url_for('static',filename='Images/thumbup.png')}}"
                        style="height: 25px; vertical-align: middle;"
                    />
                </span>
                <span style="vertical-align: middle;"> 찜 56</span>
            </div>
    
{% endblock section %}