<!DOCTYPE html>
<html>
    <head>
       <link rel = "stylesheet" type = "text/css" href = "../modules/module.css">
       <link rel = "stylesheet" type = "text/css" href = "mainEdit.css">
       <link rel="preconnect" href="https://fonts.gstatic.com" />
       <link
           href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
           rel="stylesheet"
       />
    </head>
    <body>
        <nav>
            <a href = "../pages/main.html"/><img src = "../../Images/logo.png" id = "logo" style = "float : left"/></a>
            <ul style = "list-style-type:none; margin:0px">
                <li><a href="../pages/main.html"> Home </a></li>
                <li><a href="../pages/shop_list.html"> Shop </a></li>
                <li><a href="../pages/review_upload.html"> Review </a></li>
                <li><a href="../pages/my_store.html"> MyStore </a></li>
            </ul>

            <ul style = "list-style-type:none; margin:0px">
                <li><a class = "rightmenu" href = "../pages/login.html"> Log In </a></li>
                <span style  = "float:right; height : 40px; margin-top : 30px; border-right : solid 2px grey"></span>
                <li><a class = "rightmenu" href = "../pages/signup.html"> Sign Up </a></li>
            </ul>
            <a href = "../pages/my_store.html"/><img src = "../../Images/default_profile.png" id = "profile" style = "float : right"/></a>
        </nav>

        <hr id = "greyLine" />
        <div class = "yellowBox">
          <div class="shop_info_item">
              <b style="font-size:80px">이화 맛집이야!</b>&nbsp;&nbsp;
              <b style="font-size:24px">이화여자대학교 벗들의 맛집 추천 커뮤니티</b>

          </div>
          <div class="shop_info_item">
              맛집 등록하러 가기<br>
              리뷰 작성하러 가기<br>
              맛집 리스트
          </div>
          <div class = "randomBox">
            <b>뭐 먹을까?</b><br>
            <div class = "randomButton">
              RANDOM!
            </div>
            <div class = "greyBox">?</div>
          </div>
        </div>
        <div style = "clear:both">
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;
          BEST 맛집! more<br><br>
          <hr id = "blackLine">

          <div class = "best">
            <div class = "image"></div>
            <br>
            <b style = "font-size: 30px">가게 이름</b>
            <div class = "type" style = "vertical-align : middle">한식</div><br>
            <span>
              <img src = "../../Images/thumbup.png" style = "height : 25px; vertical-align : middle;">
            </span>
            <span style = "vertical-align : middle">찜 56</span>
          </div>

          <div class = "best">
            <div class = "image"></div>
            <br>
            <b style = "font-size: 30px">가게 이름</b>
            <div class = "type" style = "vertical-align : middle">한식</div><br>
            <span>
              <img src = "../../Images/thumbup.png" style = "height : 25px; vertical-align : middle;">
            </span>
            <span style = "vertical-align : middle">찜 56</span>
          </div>
          <div class = "best">
            <div class = "image"></div>
            <br>
            <b style = "font-size: 30px">가게 이름</b>
            <div class = "type" style = "vertical-align : middle">한식</div><br>
            <span>
              <img src = "../../Images/thumbup.png" style = "height : 25px; vertical-align : middle;">
            </span>
            <span style = "vertical-align : middle"> 찜 56</span>
          </div>
        </div>
        <!--<div style="clear:both">
            <br>
            &nbsp;&nbsp;
            <b style="font-size:30px">메뉴</b>&nbsp;
            <a href = "../pages/menu_upload.html" style="text-decoration: none;">추가하기</a>
            <hr id="blackLine">

            <div class="menuInfo">
                <div class="image"></div>
                <br>
                <b style="font-size : 25px">메뉴이름</b>
                <b style="font-size:15px">8000원</b><br>
                <img src="../../Images/sample_stars_yellow.png" style="margin:10px 0px;">
                <div class="menuComment">해당 메뉴에 대한 한줄평입니다.</div>
                <div class="menuComment">맛있고 든든해요~~</div>
            </div>
            <div class="shop_info_item" style="line-height : 2.0;">
                <b style="color:dimgrey; vertical-align : middle">영업중 </b>&nbsp;
                <span class = "type" style="vertical-align : middle">한식</span><br>
                <span>
                    <img src = "../../Images/sample_stars_green.png" style="height : 25px; vertical-align : middle;"/>
                </span>
                <span stlye="vertical-align : center">5.0</span><br>
            </div> -->
            <div></div>
        </div>
