{% extends "index.html" %}

{% block section %}
        <link rel="stylesheet" href= "{{ url_for('static',filename='main.css') }}">
        <hr id="greyLine" />
        <div class="yellowBox"
             style="grid-template-columns: 1fr 1fr; grid-template-rows:1fr; height : 350px; padding-left : 100px;">

            <div class="shop_info_item" style="text-align : center" >
                <b style="font-size: 80px;" >이</b>
                <b style="font-size: 50px;" >화</b>
                <b style="font-size: 80px;" >맛</b>
                <b style="font-size: 50px;" >집</b>
                <b style="font-size: 80px;" >이야!</b><br>
                <b style="font-size: 24px;">이화여자대학교 벗들의 맛집 추천 커뮤니티</b>
                
                <br>
                 <div class="randomBox" >
                    <div style="float : left; margin-top : 10px; font-size : 18px;">
                        <b>뭐 먹을까?</b>
                            <a href="/home" style= "text-decoration: none;">
                                <div class="randomButton">
                                    RANDOM!
                                </div>
                            </a>
                    </div>
                    <a href = "/shop_detail/{{ randomRes }}">
                    <div class="greyBox">{{ randomRes[0:10] }}</div>
                    </a>
                </div>
            </div>

            
            <div style="text-align : left">
                <section>
                <br>
                <ul class="sidelist" style="background-color:gold; list-style-type: none; margin:0; position: static" >
                    <li><a class="option" href="/shop_upload" style= "text-decoration: none; color:black; font-weight: 900;">
                        <img class="option_img"
                        src="{{ url_for('static',filename='Images/layingFork.png')}}"
                        style="height: 40px; vertical-align:bottom;  "
                    />
                    <span style="font-size:30px" "color:black;" >&nbsp;&nbsp;맛집 등록하러 가기</span></a></li><br>

                     <li><a class="option" href="/list" style= "text-decoration: none; color:black; font-weight: 900;">
                        <img class="option_img"
                        src="{{ url_for('static',filename='Images/layingFork.png')}}"
                        style="height: 40px; vertical-align:bottom;  "
                    />
                    <span style="font-size:30px" >&nbsp;&nbsp;맛집 리스트</span></a></li><br>


                     <li ><a class="option" href="/review_upload" style= "text-decoration: none; color:black; font-weight: 900;">
                        <img class="option_img"
                        src="{{ url_for('static',filename='Images/layingFork.png')}}"
                        style="height: 40px; vertical-align:bottom; "
                    />
                    <span style="font-size:30px" >&nbsp;&nbsp;리뷰 작성하러 가기</span></a></li><br>


                </ul>
                </section>

        </div>
                
</div>
        <br>
        <div style="width : 1350px; margin : auto;">
            <br />
            <span style="font-size : 30px;"><b> BEST 맛집! </b></span>
            <span style="font-size : 25px; color:grey; float : right;"><b> more </b></span>
            <hr id="blackLine" style="width : 100%; background-color : grey;" />
     
            {% for best in data | sort(reverse = true, attribute="review_count") %}
            {% if loop.index == 1 or loop.index == 2 or loop.index == 3 %}
            <a href="/shop_detail/{{ best }} " style="text-decoration : none; color : black">
            <div class="best" style="overflow : hidden; padding : 0px 10px; " >
                <div class="image" style="overflow : hidden;">
                    <img src="{{ url_for('static', filename='Images/' + data[best].img_path )}}"/>
                </div>
                <br />
                <span class="type_gold">{{ data[best].category }} </span><br>
                <div style="font-size: 25px; font-weight : bold">{{ best[0 : 10] }} </div>
                <div style = "font-size : 13px; font-weight : normal">
                    {{ data[best].open_time }} ~ {{ data[best].close_time }}<br>
                    <br><br>
                    <span style="display : block; overflow : hidden; text-overflow : ellipsis; white-space : nowrap;">
                        {% for m in data[best].menu %}
                        {{ m }} &nbsp | &nbsp 
                        {% endfor %}
                    </span>
                    
                </div>
            </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    
{% endblock section %}