{% extends "index.html" %}

{% block section %}
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static',filename='menu_upload.css') }}"
        />
        <hr id="yellowLine" />
        <br /><br />
        <div style="text-align: center; color: darkgreen; font-size: 35px;">
            <b>대표 메뉴 등록</b>
        </div>
        <br /><br />
        <h4 style="text-align: center ">
            식당 이름 : {{restaurant_name}}
        </h4>
        <br>
        <form action="/post_menu_upload" method="post" enctype="multipart/form-data" style="text-align: center;">
            <span style="font-size: 18px;">메뉴 이름 &ensp;</span>
            <input type="text" id="greenField" name="menuName" /><br /><br />

            <span style="font-size: 18px;">&ensp;&ensp;&ensp;&ensp; 가격 &ensp; </span>
            <input type="number" id="greenField" name="price" /><br /><br />

            <span style="font-size: 18px;">맵기 &nbsp;</span>

            <input type="radio" name="spicy" id="0" value="0" />
            <label class="spicy" for="0">안매움</label>

            <input type="radio" name="spicy" id="1" value="1" />
            <label class="spicy" for="1">신라면</label>

            <input type="radio" name="spicy" id="2" value="2" />
            <label class="spicy" for="2">불닭</label>

            <input type="radio" name="spicy" id="3" value="3" />
            <label class="spicy" for="3">죽음</label>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<br /><br />

            <span style="font-size: 18px; vertical-align: top;"
                >&ensp;&ensp;&ensp;&ensp;사진&ensp;</span
            >
            <input type="file" id="menuImage" name="filename" accept="image/*" />
            <label class="menuImage" for="menuImage"></label><br /><br />

            <span style="font-size: 18px;">&ensp;&ensp;&ensp;&ensp; 기타 &ensp; </span>

            <input type="checkbox" name="etc" id="vegan" value="vegan" />
            <label class="etc" for="vegan">비건메뉴있음</label>

            <input type="checkbox" name="etc" id="cheap" value="cheap" />
            <label class="etc" for="cheap">가성비</label>

            <input type="checkbox" name="etc" id="alone" value="alone" />
            <label class="etc" for="alone">혼밥가능</label>

            <input type="checkbox" name="etc" id="sunday" value="sunday" />
            <label class="etc" for="sunday">일요일영업</label>

            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<br /><br />

            <hr width="800px" color="black" />

            <input type="submit" value="+메뉴 추가" id="submit" />
        </form>

{% endblock section %}