{% extends "index.html" %}

{% block section %}
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static',filename='menu_upload.css') }}"
        />
       <div class="yellowBox">
            <b style="font-size:40px; font-weight: bold ;">메뉴 등록&nbsp;
            <span style = "font-size : 20px">{{name}}</span></b>
    </div>
        <br /><br />
        <div style="text-align: center; color: darkgreen; font-size: 35px;">
            <b>메뉴 등록</b>
        </div><br>
      
        <form action="/post_menu_upload" method="post" enctype="multipart/form-data" style="text-align: center;">
            <span style="font-size: 18px;">메뉴 이름 &ensp;</span>
            <input type="text" id="greenField" name="menuName" required/><br /><br />

            <span style="font-size: 18px;">&ensp;&ensp;&ensp;&ensp; 가격 &ensp; </span>
            <input type="number" id="greenField" name="price" required /><br /><br />

            <span style="font-size: 18px;">맵기 &nbsp;</span>

            <input type="radio" name="spicy" id="0" value="안매움" />
            <label class="spicy" for="0" checked >안매움</label>

            <input type="radio" name="spicy" id="1" value="신라면" />
            <label class="spicy" for="1">신라면</label>

            <input type="radio" name="spicy" id="2" value="불닭" />
            <label class="spicy" for="2">불닭</label>

            <input type="radio" name="spicy" id="3" value="죽음" />
            <label class="spicy" for="3">죽음</label>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<br /><br />

            <span style="font-size: 18px; vertical-align: top;">&ensp;&ensp;&ensp;&ensp;사진&ensp;</span>
            <input type="file" id="menuImage" name="filename" accept="image/*" required
                   onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])"/>
            <label class="menuImage" for="menuImage"><img id = 'preview' style="height:250px"/></label><br /><br />
            

            <hr width="800px" color="black" />
            <input type="hidden" name="name" value="{{name}}">

            <input type="submit" value="+메뉴 추가" id="submit" />
        </form>

{% endblock section %}