{% extends "index.html" %}

{% block section %}

        <link rel="stylesheet" href="{{ url_for('static',filename='representative.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static',filename='shop_detail.css') }}" />

        <hr id="greyLine" />

        <div class="yellowBox"></div>
        <div style="text-align:center; background-color: lightyellow; height:fill">
            <div style="display: inline-block; width: 1040px; margin: auto; background-color: white; align-item : center;">
                <br>
                <div style="font-size:30px;"><b> 메뉴 조회 </b></div>
                {% for d in data.menu %}
                    <a href="/review_list/{{ data.name }}/{{data.menu[d].menuName}}" style="text-decoration: none; color : black">
                    <div class="menuInfo" style="float : none; text-align : left; width : 700px; margin:20px auto">
                        <div class="image". style="overflow:hidden; text-align:center">
                            <img src="{{ url_for('static',filename='Images/' + data.menu[d].img_path ) }}"
                                 style = "height:180px"
                            />
                        </div>
                        <div style="float:left; margin-right : 20px;">
                            <br><br>
                            <b style="font-size: 25px;">{{ data.menu[d].menuName }}</b><br>
                            <b style="font-size: 15px;">{{ data.menu[d].price }}원</b><br />
                        
                            <div class = "rating">
                                <div class = "starFilled" style= " width:{{data.menu[d].rate}}em">
                                    ★★★★★ 
                                </div>

                                <div class = "starUnfilled">
                                    ★★★★★
                                    <span style = "color : black; font-size : 15px;">{{ '%0.2f' | format(data.menu[d].rate)}}</span>
                                </div>
                            </div>
                        </div>
                        <div style="float:left">
                            <br>
                            {% for show in data.menu[d].review | reverse %}
                            {% if loop.index>=1 and 4>=loop.index %}
                                <div class="menuComment">{{ data.menu[d].review[show].reviewText[0 : 25] }}</div><br>
                            {% endif %}
                            {% endfor %}
                        </div>
                        
                    </div> 
                    {% endfor %}
                    </a>

                <br /><br />

                </div>
            </div>
            
        </div>
{% endblock section %}