<h2>
    <br><br>
    이 화면에서는 사용자가 입력한 리뷰 정보를 보여줍니다.
</h2>
  <br><br><hr>
<p>
    메뉴가 나오는데 걸린 시간: {{time_r}}
    
</p>

  <br><br><hr>
<p>
    전체적인 식당 청결 별점 (0~5) : {{rating}}
</p>
  <br><br><hr>
<p>
    식당 분위기: {{mood}}
</p>
  <br><br><hr>
<p>
   메뉴 이름 : {{menuName}}
</p>

  <br><br><hr>
<p>
    리뷰: {{reviewText}}
</p>

  <br><br><hr>
<p>
    메뉴 별점 : {{menu1_rating}}
</p>
  <br><br><hr>
<p>
    맵기 정도 : {{spicy}}
</p>
  <br><br><hr>
<p>
    메뉴 사진 업로드
</p>
<img src="{{image_path_r}}" alt="review Image uploaded">