<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="representativeEdit.css">
    <link rel = "stylesheet" type = "text/css" href = "../modules/module.css">
    <link rel="preconnect" type = "text/css" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"/>
</head>
<body>
  <nav>
      <a href = "../pages/main.html"/><img src = "../../Images/logo.png" id = "logo" style = "float : left"/></a>
      <ul style = "list-style-type:none; margin:0px">
          <li><a href="../pages/main.html"> Home </a></li>
          <li><a href="../pages/shop_list.html"> Shop </a></li>
          <li><a href="../pages/review_upload.html"> Review </a></li>
          <li><a href="../pages/my_store.html"> MyStore </a></li>
      </ul>

      <ul style = "list-style-type:none; margin:0px">
          <li><a class = "rightmenu" href = "../pages/login.html"> Log In </a></li>
          <span style  = "float:right; height : 40px; margin-top : 30px; border-right : solid 2px grey"></span>
          <li><a class = "rightmenu" href = "../pages/signup.html"> Sign Up </a></li>
      </ul>
      <a href = "../pages/my_store.html"/><img src = "../../Images/default_profile.png" id = "profile" style = "float : right"/></a>
  </nav>

  <hr id = "greyLine" />

  <div class = "yellowBox"></div>
  <div style="text-align:center; background-color : lightyellow;">
    <div style="display:inline-block; width:1040px; margin : auto; background-color : white;">
      <br><b>대표 메뉴 조회</b><br><br>
      <div style = "text-align : left;">
          &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
          소요시간
          <div class="yellowIcon">30분~1시간</div>&nbsp;&nbsp;&nbsp;
          분위기
          <div class="yellowIcon">가족식사</div>&nbsp;&nbsp;&nbsp;
          청결
          <img src="../../Images/sample_stars_yellow.png"/>
      </div>
      <div class = "image"></div><br>
      <div style = "clear : both">
        <br>
        <div class="menuInfo">
            <div class="image"></div>
            <br>
            <b style="font-size : 25px">메뉴이름</b>
            <b style="font-size:15px">8000원</b><br>
            <img src="../../Images/sample_stars_yellow.png" style="margin:10px 0px;">
            <div class="menuComment">해당 메뉴에 대한 한줄평입니다.</div>
            <div class="menuComment">맛있고 든든해요~~</div>
        </div>
        <div class="menuInfo">
            <div class="image"></div>
            <br>
            <b style="font-size : 25px">메뉴이름</b>
            <b style="font-size:15px">8000원</b><br>
            <img src="../../Images/sample_stars_yellow.png" style="margin:10px 0px;">
            <div class="menuComment">해당 메뉴에 대한 한줄평입니다.</div>
            <div class="menuComment">맛있고 든든해요~~</div>
        </div>
      </div>
    </div>
      <br><br>

      <!--
      <div>
        <div class = "best" style="float:left">
            <b style="font-size:20px; float : left;">식당 이름</b>
            &nbsp; &nbsp;
            <b style="font-size:20px">10000원</b><br>
            <img src="../../Images/heart.png"/>

            <div class = "star" style="height:12px; margin:5px 0px; float : left;">
              <img src="../../Images/sample_stars_yellow.png"/>
            </div><br>
            <div class = "image"></div><br>
        </div>
      <div>
          &nbsp; &nbsp;
          가게 이름
          <div class="yellowIcon">음식 종류</div>&nbsp;&nbsp;&nbsp;
          <img src="../../Images/heart.png"/>
          100
          <div class = "left" style = "float : right;"><img src="../../Images/sample_stars_yellow.png"/></div>
      </div>
      <div>
        <div class = "image"></div><br>
        <div class = "best" style="float:left">
            <div class="yellowIcon">음식 종류</div><br><br>
            <div class="yellowIcon">음식 종류</div><br><br>
            <div class="yellowIcon">음식 종류</div>&nbsp; &nbsp;
            <div class="yellowIcon">음식 종류</div>
        </div><br>

      </div>
  </div>
  <!--<div style="text-align :center; background-color : lightyellow;">
      <div style="display:inline-block; width:1040px; margin : auto; background-color : white;">
          <b style = "font-size:30px; color:darkgreen"><br>찜한 맛집<br></b>&nbsp;
          <div style = "float : left;">
              &nbsp; &nbsp;
              식당 이름
              <div class="pinkIcon">음식 종류</div>
              <img src="../../Images/heart.png"/>
          </div>

          <div>
            <div class = "image"></div><br>
            <div class = "best" style="float:left">
                <b style="font-size:20px; float : left;">식당 이름</b>
                &nbsp; &nbsp;
                <b style="font-size:20px">10000원</b><br>

                <div class = "star" style="height:12px; margin:5px 0px; float : left;">
                  <img src="../../Images/sample_stars_yellow.png"/>
                </div><br>

                <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div><br>
                <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div><br>
                <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div><br>
            </div>
            <hr id = "blackLine"/>
            <div class = "image"></div><br>
            <div class = "best" style="float:left">
                <b style="font-size:20px; float : left;">식당 이름</b>
                &nbsp; &nbsp;
                <b style="font-size:20px">10000원</b><br>

                <div class = "star" style="height:12px; margin:5px 0px; float : left;">
                  <img src="../../Images/sample_stars_yellow.png"/>
                </div><br>

                <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div><br>
                <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div><br>
                <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div><br>
            </div>
            <hr id = "blackLine"/>
            <div class = "image"></div><br>
            <div class = "best" style="float:left">
                <b style="font-size:20px; float : left;">식당 이름</b>
                &nbsp; &nbsp;
                <b style="font-size:20px">10000원</b><br>

                <div class = "star" style="height:12px; margin:5px 0px; float : left;">
                  <img src="../../Images/sample_stars_yellow.png"/>
                </div><br>

                <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div><br>
                <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div><br>
                <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div><br>
            </div>
          </div>
      </div>
    </div>
    <!--<br>
    &nbsp;&nbsp;&nbsp;&nbsp;
    BEST 맛집! more<br><br>
    <hr id = "blackLine">

    <div class = "best">
      <div class = "image"></div>
      <br>
      <b style = "font-size: 30px">가게 이름</b>
      <div class = "type" style = "vertical-align : middle">한식</div><br>
      <span>
        <img src = "../../Images/thumbup.png" style = "height : 25px; vertical-align : middle;">
      </span>
      <span style = "vertical-align : middle">찜 56</span>
    </div> -->
</body>
</html>
