{% extends "index.html" %}

{% block section %}

        <link rel="stylesheet" href="{{ url_for('static',filename='representative.css') }}" />

        <hr id="greyLine" />

        <div class="yellowBox"></div>
        <div style="text-align: center; background-color: lightyellow;">
            <div
                style="display: inline-block; width: 1040px; margin: auto; background-color: white;"
            >
                <br /><b>대표 메뉴 조회</b><br /><br />
                <div style="text-align: left;">
                    &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; 소요시간
                    <div class="yellowIcon">30분~1시간</div>
                    &nbsp;&nbsp;&nbsp; 분위기
                    <div class="yellowIcon">가족식사</div>
                    &nbsp;&nbsp;&nbsp; 청결
                    <img src="{{ url_for('static',filename='Images/sample_stars_yellow.png')}}" />
                </div>
                <div class="image"></div>
                <br />
                <div style="clear: both;">
                    <br />
                    <div class="menuInfo">
                        <div class="image"></div>
                        <br />
                        <b style="font-size: 25px;">메뉴이름</b>
                        <b style="font-size: 15px;">8000원</b><br />
                        <img
                            src="{{ url_for('static',filename='Images/sample_stars_yellow.png')}}"
                            style="margin: 10px 0px;"
                        />
                        <div class="menuComment">해당 메뉴에 대한 한줄평입니다.</div>
                        <div class="menuComment">맛있고 든든해요~~</div>
                    </div>
                    <div class="menuInfo">
                        <div class="image"></div>
                        <br />
                        <b style="font-size: 25px;">메뉴이름</b>
                        <b style="font-size: 15px;">8000원</b><br />
                        <img
                            src="{{ url_for('static',filename='Images/sample_stars_yellow.png')}}"
                            style="margin: 10px 0px;"
                        />
                        <div class="menuComment">해당 메뉴에 대한 한줄평입니다.</div>
                        <div class="menuComment">맛있고 든든해요~~</div>
                    </div>
                </div>
            </div>
            <br /><br />
{% endblock section %}