{% extends "index.html" %}
{% block section %}
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static',filename='review_list.css')}}"
        />
        
        <hr id="greyLine" />

        <img
            src="{{ url_for('static',filename='Images/sample_shop_image.png') }}"
            style="width: 1520px;"
        />
        <div class="shop_info_container">
            <div class="shop_info_item" style="line-height: 2;">
                <b style="color: dimgrey; vertical-align: middle;">영업중 </b>&nbsp;
                <span class="type" style="vertical-align: middle;">한식</span><br />
                <span>
                    <img
                        src="{{ url_for('static',filename='Images/sample_stars_green.png') }}"
                        style="height: 25px; vertical-align: middle;"
                    />
                    <!--별점 샘플이미지-->
                </span>
                <span stlye="vertical-align : center">5.0</span><br />
            </div>
            <div></div>
            <div class="shop_info_item">
                <b style="font-size: 50px;">{{data.name}}</b>&nbsp;&nbsp;
                <img
                    src="{{ url_for('static',filename='Images/thumbup.png') }}"
                    style="vertical-align: top;"
                />
                <span style="position: relative; top: 5px; left: -40px;"> 찜 56</span>
            </div>
            <div class="shop_info_item">
                {{data.link}}<br />
                {{data.address}} | {{data.phone}} | 
                {%if data[parking] =="yes"%} 주차 가능 {%endif%}
                {%if data[parking] =="no"%} 주차 불가능 {%endif%}
            </div>
        </div>

        <br />
<!--리뷰 시작 -->
        <div style="text-align: center;">
            <div style="display: inline-block; width: 1000px; text-align: left;">
                <b style="font-size: 30px; color: darkgreen;">리뷰</b>&nbsp;
                <a href="/review_upload/{{ data.name }}/{{data.menu[menuName].menuName}}" style="text-decoration: none;">추가하기</a>
            </div>
         
            <hr id="blackLine" style="height: 4px; position: relative; top: 10px;" />

            <!--여기부터 리뷰 박스-->
            <div class="review_container">
                <!--
                <div class="review_item" style="text-align: right;">작성자</div>
                <div class="review_item">
                    userName<br /><br />
                    <div class="reviewTag">맵잘먹</div>
                    <div class="reviewTag">일식</div>
                    <div class="reviewTag">양식</div>
                </div>

                <div class="review_item" style="text-align: right;">매장 평가</div>
                <div class="review_item">
                    <div class="reviewTag">30분~1시간</div>
                    <div class="reviewTag">가족식사</div>
                    <div class="reviewTag">
                        청결
                        <img
                            src="{{ url_for('static',filename='Images/sample_stars_yellow.png') }}"
                            style="vertical-align: middle;"
                        />
                    </div>
                </div>
-->
                <div class="review_item" style="text-align: right;">메뉴</div>
                <div class="review_item">
                    <img
                        src="{{ url_for('static',filename='Images/' + data.menu[menuName].img_path ) }}"
                        style="float: left; height: 100px; margin: 10px 10px;"
                    />
                    <div style="float: left; vertical-align: middle;">
                        <br />
                        <b style="font-size: 25px;"> {{data.menu[menuName].menuName}} </b>
                        <span> {{data.menu[menuName].price}} 원</span><br /><br />
                        <span> 평균별점 {{data.menu[menuName].rate}}</span>
                         <div class = "rating" style="display : inline-block;" >
                            <div class = "starFilled" style= "width:{{ data.menu[menuName].rate }}em">
                                ★★★★★ 
                            </div>

                            <div class = "starUnfilled">
                                ★★★★★ 
                            </div>
                        </div>
                    </div>
                </div>
                
                {%if data.menu[menuName].review_count>0%}
                {%for r in data.menu[menuName].review | reverse%} 
                    <div class="review_item" style="display:flex; align-items : center;">
                        <img
                            src="{{ url_for('static',filename='Images/' + data.menu[menuName].review[r].img_path ) }}"
                            style="float: left; width: 250px; margin: 10px 10px;"
                        />
                    </div>
                    <div class="review_item" style="text-indent: 100px;">
                        별점
                       <div class = "rating" style="display : inline-block; text-indent:0px;" >
                            <div class = "starFilled" style= "width:{{ data.menu[menuName].review[r].menu1_rating }}em">
                                ★★★★★ 
                            </div>

                            <div class = "starUnfilled">
                                ★★★★★ 
                            </div>
                        </div>

                        <div id="reviewBox" style="margin-bottom : 20px;" >{{data.menu[menuName].review[r].reviewText}}</div>
                    </div>
                {%endfor%}
                {%else%}
                <p>
                    등록된 리뷰가 없습니다.
                </p>
                {%endif%}
                
            </div>
        </div>
{% endblock section %}