       
{% extends "index.html" %}
{% block section %}
        <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='review_upload.css') }}">
        
        <hr id = "greyLine" />
        
        <div class = "shop_info_container">
            <div class="shop_info_item" style="line-height : 2.0;">
                <b style="color:dimgrey; vertical-align : middle">영업중 </b>&nbsp;
                <span class = "type" style="vertical-align : middle">한식</span><br>
                <span>  
                    <img src = "{{ url_for('static',filename='Images/sample_stars_green.png')}}" style="height : 25px; vertical-align : middle;"/>        <!--별점 샘플이미지-->
                </span>
                <span stlye="vertical-align : center">5.0</span><br>
            </div>
            <div></div>
            <div class="shop_info_item">
                <b style="font-size:50px">{{data.name}}</b>&nbsp;&nbsp;
                <img src = "{{ url_for('static',filename='Images/thumbup.png')}}" style="vertical-align:top"/>
                <span style="position:relative; top:5px; left:-40px;"> 찜 56</span>
            </div>
            
            <div class="shop_info_item">
                {{data.link}}<br>
                {{data.address}} | {{data.phone}} | 주차 가능
            </div>
        </div>

        <br>

        <div style="text-align :center">
            <div style="display:inline-block; width:1000px; text-align:left">
            <b style = "font-size:30px; color:darkgreen">리뷰 작성</b>&nbsp;

            <hr id="blackLine" style="height:4px; position:relative; top:10px;"/>

            <form action="/post_review_upload" method="post" enctype="multipart/form-data">
            <div class="review_container">
                <div class="review_item" style="text-align : right">작성자</div>
                <input type="text" class="review_item" name = "user" value="userName"
                       style="border : none; border-bottom : 1px solid black" readonly>
                
                <div class="review_item" style="text-align : right">식당이름</div>
                <input type="text" class="review_item" name = "restaurant" value="{{ data.name }}"
                       style="border : none; border-bottom : 1px solid black" readonly>

                <div class="review_item" style="text-align : right; line-height : 40px">소요시간<br>청결<br></div>
                <div class="review_item">
                    <div>
                        <input type="radio" class="reviewTag" name="time_r" id="5min" value="5분 미만">
                        <label class="reviewTag" for="5min">5분 미만</label>
                        <input type="radio" class="reviewTag" name="time_r" id="15min" value="5분~15분">
                        <label class="reviewTag" for="15min">5분~15분</label>  
                        <input type="radio" class="reviewTag" name="time_r" id="30min" value="15분~30분">
                        <label class="reviewTag" for="30min">15분~30분</label>  
                        <input type="radio" class="reviewTag" name="time_r" id="1hour" value="30분~1시간">
                        <label class="reviewTag" for="1hour">30분~1시간</label>  
                        <input type="radio" class="reviewTag" name="time_r" id="more" value="1시간 이상">
                        <label class="reviewTag" for="more">1시간 이상</label><br>  
                    </div>

                    <div class="star-rating space-x-4 mx-auto">
                        <input type="radio" id="5-stars" name="rating" value="5" v-model="ratings"/>
                        <label for="5-stars" class="star pr-4">★</label>
                        <input type="radio" id="4-stars" name="rating" value="4" v-model="ratings"/>
                        <label for="4-stars" class="star">★</label>
                        <input type="radio" id="3-stars" name="rating" value="3" v-model="ratings"/>
                        <label for="3-stars" class="star">★</label>
                        <input type="radio" id="2-stars" name="rating" value="2" v-model="ratings"/>
                        <label for="2-stars" class="star">★</label>
                        <input type="radio" id="1-star" name="rating" value="1" v-model="ratings" />
                        <label for="1-star" class="star">★</label>
                    </div>
                    
                </div>

                <div class="review_item" style="text-align : right">메뉴</div>
                
                <!-- 해당 메뉴가 기본적으로 선택되지만, 혹시 다른메뉴로 리뷰쓰고싶으면 변경할 수 있게 했어요 -->
                <!-- 그리고 기존처럼 메뉴선택안하고 식당에서 바로 리뷰쓰는 기능도 살려는 놨는데 들어오는 버튼이 없어서 고민좀 해봐야할것같아요-->
                
                <div class="review_item">
                    <select id = greenField name="menuName">
                        {% if menuName is none %}
                        <option value={{menuName}}>{{ menuName }}</option>
                        {% endif %}
                        
                        {% for food in data.menu %}
                        {% if food != menuName %}
                        <option value={{food}}> {{ food }} </option>
                        {% endif %}
                        {% endfor%}
                        
                    </select>
                   &nbsp;
                   <!-- <button style="border:0px; background-color:transparent">추가</button> -->
                </div>
                
                <div class="review_item"></div>
                <div class="review_item">
 
                    <b style="font-size:20px">별점을 남겨주세요</b>&nbsp;&nbsp;
                    <div class="star-rating space-x-4 mx-auto" style="display:inline-flex">
                        <input type="radio" id="menu1-5-stars" name="menu1-rating" value="5" v-model="ratings"/>
                        <label for="menu1-5-stars" class="star pr-4">★</label>
                        <input type="radio" id="menu1-4-stars" name="menu1-rating" value="4" v-model="ratings"/>
                        <label for="menu1-4-stars" class="star">★</label>
                        <input type="radio" id="menu1-3-stars" name="menu1-rating" value="3" v-model="ratings"/>
                        <label for="menu1-3-stars" class="star">★</label>
                        <input type="radio" id="menu1-2-stars" name="menu1-rating" value="2" v-model="ratings"/>
                        <label for="menu1-2-stars" class="star">★</label>
                        <input type="radio" id="menu1-1-star" name="menu1-rating" value="1" v-model="ratings" />
                        <label for="menu1-1-star" class="star">★</label>
                    </div>
                    
                    <hr id="blackLine" style="width:780px">

                    <span style="line-height:40px">맵기</span>

                    <input type="radio" class="reviewTag" name="spicy" id="0" value="0">
                    <label class="reviewTag" for="0">안매움</label>  

                    <input type="radio" class="reviewTag" name="spicy" id="1" value="1">
                    <label class="reviewTag" for="1">신라면</label>  

                    <input type="radio" class="reviewTag" name="spicy" id="2" value="2">
                    <label class="reviewTag" for="2">불닭</label>  

                    <input type="radio" class="reviewTag" name="spicy" id="3" value="3">
                    <label class="reviewTag" for="3">죽음</label>  
                    <br>

                    <hr id="blackLine" style="width:780px">

                    <b style="font-size:20px; float:left">이미지</b>
    
                    
                    <input type="file" id="menu1-image" name="filename" accept="image/*"
                               onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])"/>
                    <label for="menu1-image">
                        <div class="thumbnail"><img id = 'preview' style="height:150px"/></div>
                    </label>

                    <hr id="blackLine" style="width:780px">

                    <b style="font-size:20px; float:left">리뷰 내용</b><br><br>
                    <textarea name="reviewText" style="width:700px; height:200px;"></textarea>
                </div>
                <br>
                </div>
                <div style="text-align : center">
                    <input type="submit" value="리뷰 등록" id="submit" /><br><br>
                </div>
            </form>

        </div>
{% endblock section %}