{% extends "index.html" %}
{% block section %}

        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='shop_upload.css') }}"
        />

        <hr id="greyLine" />

        <br />

        <div style="text-align: center;">
            <div style="display: inline-block; width: 1000px; text-align: left;">
                <b style="font-size: 30px; color: darkgreen;">맛집 등록</b>&nbsp;
            </div>

            <hr id="blackLine" style="height: 4px; position: relative; top: 10px;" />

            <form action="/post_result" method="post" enctype="multipart/form-data">
                <div class="review_container">
                    <div class="review_item" style="text-align: right;">작성자</div>
                    <div class="review_item">userName</div>

                    <div class="review_item" style="text-align: right; line-height: 45px;">
                        가게 이름<br />
                        주소<br />
                        전화번호<br />
                    </div>
                    <div class="review_item">
                        <div style="line-height: 45px;">
                            <input type="text" id="greenField" name="shop_name" required/><br />
                        </div>

                        <div style="line-height: 45px;">
                            <input type="text" id="greenField" name="shop_addr" required/><br />
                        </div>

                        <div style="line-height: 45px;">
                            <input type="tel" id="greenField" name="shop_phone" required/><br />
                        </div>
                    </div>

                    <div class="review_item" style="text-align: right;">영업시간</div>
                    <div class="review_item">
                        <div style="line-height: 45px;">
                            영업 시간
                            <input type="time" id="greenField" name = "open_time" style="width: 150px" required>&nbsp;
                             -
                            <input type="time" id="greenField" name = "close_time" style="width: 150px" required><br>
                            휴무 요일
                            <input type="textarea" id="greenField" name="shop_time_no" /><br />
                            브레이크
                            <input type="textarea" id="greenField" name="shop_time_break" /><br />
                        </div>
                    </div>

                    <div class="review_item" style="text-align: right; line-height: 45px;">
                        주차<br />
                        카테고리
                        <div style="height: 70px;"></div>
                        링크<br />
                    </div>
                    <div class="review_item">
                        <div>
                            <input
                                type="radio"
                                class="reviewTag"
                                name="parking"
                                id="yes"
                                value="yes" checked
                            />
                            <label class="reviewTag" for="yes">가능</label>
                            <input
                                type="radio"
                                class="reviewTag"
                                name="parking"
                                id="no"
                                value ="no"
                            />
                            <label class="reviewTag" for="no">불가능</label>
                        </div>

                        <br />

                        <div>
                            <input
                                type="radio"
                                class="reviewTag"
                                name="category"
                                id="korean"
                                value="한식"
                                   checked
                            />
                            <label class="reviewTag" for="korean">한식</label>
                            <input
                                type="radio"
                                class="reviewTag"
                                name="category"
                                id="japanese"
                                value="일식"
                            />
                            <label class="reviewTag" for="japanese">일식</label>
                            <input
                                type="radio"
                                class="reviewTag"
                                name="category"
                                id="west"
                                value="양식"
                            />
                            <label class="reviewTag" for="west">양식</label>
                            <input
                                type="radio"
                                class="reviewTag"
                                name="category"
                                id="chinese"
                                value="중식"
                            />
                            <label class="reviewTag" for="chinese">중식</label>
                            <input
                                type="radio"
                                class="reviewTag"
                                name="category"
                                id="asian"
                                value="아시안"
                            />
                            <label class="reviewTag" for="asian">아시안</label>
                            <div style="height: 10px;"></div>
                            <input
                                type="radio"
                                class="reviewTag"
                                name="category"
                                id="bunsik"
                                value="분식"
                            />
                            <label class="reviewTag" for="bunsik">분식</label>
                            <input
                                type="radio"
                                class="reviewTag"
                                name="category"
                                id="fastfood"
                                value="패스트푸드"
                            />
                            <label class="reviewTag" for="fastfood">패스트푸드</label>
                            <input
                                type="radio"
                                class="reviewTag"
                                name="category"
                                id="cafe"
                                value="디저트/카페"
                            />
                            <label class="reviewTag" for="cafe">디저트/카페</label>
                            <input
                                type="radio"
                                class="reviewTag"
                                name="category"
                                id="etc"
                                value="기타"
                            />
                            <label class="reviewTag" for="etc">기타</label>
                        </div>

                        <br />

                        <div style="line-height: 45px;">
                            &nbsp;&nbsp;&nbsp;<input
                                type="text"
                                id="greenField"
                                name="link"
                            /><br />
                        </div>
                    </div>

                    <div class="review_item" style="text-align: right;">이미지</div>
                    <div class="review_item">
                        <input type="file" id="image" name="filename" accept="image/*" required
                               onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])"/>
                        <label for="image">
                            <div class="thumbnail"><img id = 'preview' style="height:150px"/></div>
                        </label>
                    </div>

                    <br />
                </div>

                <input type="submit" value="맛집 등록" id="submit" />
            </form>
        </div>
{% endblock section %}