{% extends "index.html" %}
{% block section %}
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static',filename='shop_detail.css') }}"
        />
        
        <hr id="greyLine" />

        <img
            src="{{ url_for('static',filename='sample_shop_image.png ) }}"
            style="width: 1520px;"
        />
        <div class="shop_info_container">
            <div class="shop_info_item" style="line-height: 2;">
                <b style="color: dimgrey; vertical-align: middle;">영업중 </b>&nbsp;
                <span class="type" style="vertical-align: middle;">한식</span><br />
                <span>
                    <img
                        src="{{ url_for('static',filename='sample_stars_green.png ) }}"
                        style="height: 25px; vertical-align: middle;"
                    />
                    <!--별점 샘플이미지-->
                </span>
                <span stlye="vertical-align : center">5.0</span><br />
            </div>
            <div></div>
            <div class="shop_info_item">
                <b style="font-size: 50px;">식당 이름</b>&nbsp;&nbsp;
                <img
                    src="{{ url_for('static',filename='thumbup.png ) }}"
                    style="vertical-align: top;"
                />
                <span style="position: relative; top: 5px; left: -40px;"> 찜 56</span>
            </div>
            <div class="shop_info_item">
                http://www.홈페이지, 인스타그램 등<br />
                서울특별시 서대문구 이화여대길 00 | 02-000-0000 | 주차 가능
            </div>
        </div>

        <br />

        <div style="text-align: center; vertical-align: middle;">
            <div style="width: 1040px; margin: auto; text-align: left;">
                <div>
                    &nbsp; &nbsp; 소요시간
                    <div class="yellowIcon">30분~1시간</div>
                    &nbsp;&nbsp;&nbsp; 분위기
                    <div class="yellowIcon">가족식사</div>
                    &nbsp;&nbsp;&nbsp; 청결
                    <img src="{{ url_for('static',filename='sample_stars_yellow.png ) }}" />
                </div>

                <br />

                <div>
                    <div class="mainImage"></div>

                    <div style="float: left;">
                        <br />
                        대표메뉴<br />
                        <b style="font-size: 30px;">메뉴이름</b>
                        &nbsp; &nbsp;
                        <b style="font-size: 20px;">10000원</b><br />

                        <img
                            src="{{ url_for('static',filename='sample_stars_yellow.png ) }}"
                            style="height: 30px; margin: 5px 0px;"
                        /><br />

                        <div class="comment">리뷰앞부분이 조금 보이는 한줄평...</div>
                        <br />
                        <div class="comment">맛있고 분위기도 좋아요 다음에...</div>
                    </div>

                    <div style="float: left; margin-left: 20px;">
                        <div style="height: 13px;"></div>
                        <b style="font-size: 20px;">벗들의 한줄평</b><br />
                        <div class="comment">맛있고 분위기도 좋아요 다음에...</div>
                        <br />
                        <div class="comment">맛있고 분위기도 좋아요 다음에...</div>
                        <br />
                        <div class="comment">맛있고 분위기도 좋아요 다음에...</div>
                        <br />
                        <div class="comment">맛있고 분위기도 좋아요 다음에...</div>
                        <br />
                    </div>

                    <br />
                    <div class="times">
                        영업시간<br />
                        월 00시 ~ 00시<br />
                        화 00시 ~ 00시<br />
                        수 00시 ~ 00시<br />
                        목 00시 ~ 00시<br />
                        금 00시 ~ 00시<br />
                        토 00시 ~ 00시<br />
                        일 00시 ~ 00시<br />
                    </div>
                </div>

                <br />
                <div style="clear: both;">
                    <br />
                    &nbsp;&nbsp;
                    <b style="font-size: 30px;">메뉴</b>&nbsp;
                    <a href="/menu_upload" style="text-decoration: none;">추가하기</a>
                    <hr id="blackLine" />

                    <div class="menuInfo">
                        <div class="image"></div>
                        <br />
                        <b style="font-size: 25px;">메뉴이름</b>
                        <b style="font-size: 15px;">8000원</b><br />
                        <img
                            src="{{ url_for('static',filename='sample_stars_yellow.png ) }}"
                            style="margin: 10px 0px;"
                        />
                        <div class="menuComment">해당 메뉴에 대한 한줄평입니다.</div>
                        <div class="menuComment">맛있고 든든해요~~</div>
                    </div>

                    <div class="menuInfo">
                        <div class="image"></div>
                        <br />
                        <b style="font-size: 25px;">메뉴이름</b>
                        <b style="font-size: 15px;">8000원</b><br />
                        <img
                            src="{{ url_for('static',filename='sample_stars_yellow.png ) }}"
                            style="margin: 10px 0px;"
                        />
                        <div class="menuComment">해당 메뉴에 대한 한줄평입니다.</div>
                        <div class="menuComment">맛있고 든든해요~~</div>
                    </div>

                    <div class="menuInfo">
                        <div class="image"></div>
                        <br />
                        <b style="font-size: 25px;">메뉴이름</b>
                        <b style="font-size: 15px;">8000원</b><br />
                        <img
                            src="{{ url_for('static',filename='sample_stars_yellow.png ) }}"
                            style="margin: 10px 0px;"
                        />
                        <div class="menuComment">해당 메뉴에 대한 한줄평입니다.</div>
                        <div class="menuComment">맛있고 든든해요~~</div>
                    </div>

                    <div class="menuInfo">
                        <div class="image"></div>
                        <br />
                        <b style="font-size: 25px;">메뉴이름</b>
                        <b style="font-size: 15px;">8000원</b><br />
                        <img
                            src="{{ url_for('static',filename='sample_stars_yellow.png ) }}"
                            style="margin: 10px 0px;"
                        />
                        <div class="menuComment">해당 메뉴에 대한 한줄평입니다.</div>
                        <div class="menuComment">맛있고 든든해요~~</div>
                    </div>
                </div>

                <br /><br />

                <div style="clear: both;">
                    <br />
                    &nbsp;&nbsp;
                    <b style="font-size: 30px;">리뷰</b>
                    <hr id="blackLine" />

                    <div style="text-align: center;">
                        <div class="reviews">
                            <div class="image"></div>

                            <br />
                            username<br />
                            <b style="font-size: 25px;">메뉴이름</b>&nbsp; 안매움 | 5분 이내 |
                            혼밥가능 <br />

                            <img
                                src="{{ url_for('static',filename='sample_stars_yellow.png ) }}"
                                style="margin: 10px 0px; height: 30px;"
                            /><br />

                            <div class="text">
                                리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다.
                                리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다.
                                리뷰 내용입니다. 리뷰 내용입니다.
                            </div>
                        </div>

                        <div class="reviews">
                            <div class="image"></div>

                            <br />
                            username<br />
                            <b style="font-size: 25px;">메뉴이름</b>&nbsp; 안매움 | 5분 이내 |
                            혼밥가능 <br />

                            <img
                                src="{{ url_for('static',filename='sample_stars_yellow.png ) }}"
                                style="margin: 10px 0px; height: 30px;"
                            /><br />

                            <div class="text">
                                리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다.
                                리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다.
                                리뷰 내용입니다. 리뷰 내용입니다.
                            </div>
                        </div>

                        <div class="reviews">
                            <div class="image"></div>

                            <br />
                            username<br />
                            <b style="font-size: 25px;">메뉴이름</b>&nbsp; 안매움 | 5분 이내 |
                            혼밥가능 <br />

                            <img
                                src="{{ url_for('static',filename='sample_stars_yellow.png ) }}"
                                style="margin: 10px 0px; height: 30px;"
                            /><br />

                            <div class="text">
                                리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다.
                                리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다. 리뷰 내용입니다.
                                리뷰 내용입니다. 리뷰 내용입니다.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock section %}