{% extends "index.html" %}

{% block section %}
{% with mesg = get_flashed_messages() %}
{% if mesg != [] %}
<script>alert("{{mesg[0]}}")</script>
{% endif %}
{% endwith %}


        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static',filename='signup.css') }}"
        />
        
        <hr id="greyLine" />

        <!--회원가입-->
        <br />
        <b class="signuptitle">회원가입</b>
        <br />

<form method = "post" action="/signup_post">
        <!--id, pw 입력-->
        <div class="placeholder_box">
            <label for="placeholder">아이디</label>
            <input type="text" id="placeholder" name="id" />
        </div>
        <br />

        <div class="placeholder_box">
            <label for="placeholder">비밀번호</label>
            <input type="password" id="placeholder" name="pw" />
        </div>
        <br />

        <div class="placeholder_box">
            <label for="placeholder">비밀번호 재입력</label>
            <input type="password" id="placeholder" name="pwcheck" />
        </div>
        <br />
    
        <!--회원가입 버튼-->
        <br /><br />
        <button class="signup">회원가입</button>
</form>
{% endblock section %}